<div class="container mb-4">
    <div class="row">
        <!--About me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="/assets/photo_2023-12-15_12-59-21.jpg" alt="" width="256" height="256" class="rounded-circle">
                <p>Experienced Java Backend Developer with over 2 years of expertise in utilizing Spring Boot to design, develop, and implement robust APIs.I have demonstrated proficiency in technologies such as Spring Security, Spring MVC, Hibernate, and 
                    various database integrations,AWs cloud services etc. Proven 
                    track record of contributing to the creation of cutting-edge 
                    solutions, including the development of an ERP system used 
                    by major banks and SACCOS, Ecommerce Applications and a 
                    Sacco management system solution. Seeking to bring my skills 
                    in Java programming, backend development, and API design to a 
                    dynamic team, life-long learning , contributing to team success.
                </p>
                <small>Tech stack: Java, springboot,Angular, Typescript,Sql and Postgress</small>
            </div>
        </div>
        <!--Featured projects-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured projects</h2>
                <h4>{{featuredProjects.name}}</h4>
            </div>

            <carousel [isAnimated]="true">
                <div *ngFor="let pictures of featuredProjects.pictures">
                    <slide><img src={{pictures}} alt="slide" style="display: block;width: 100%; height: 100%;"></slide>
                </div>
            </carousel>
            <p class="mt-2">{{featuredProjects.summary}}</p>
            <p>Vist portfolio section to learn more !
                <a href="/portfolio">portfolio</a>
            </p>

        </div>
    </div>
    <hr>
    
</div>
<div>
    <h3 style="text-align: center;">Projects</h3>
    <app-portfolio></app-portfolio>

</div>
<hr>

<div>
    <h3 style="text-align: center;">Resume</h3>

    <app-resume></app-resume>
</div>
<hr>

<div>
    <h3 style="text-align: center;">Contact</h3>
    <app-contact></app-contact>
</div>
